@page
@model Fiszki.Pages.ListsModel
@{
}


<h1>Create new list</h1>
<h2>POLE PLACEHOLDER ListName  dodaj tez CREATE BUTTON</h2>
<button>CREATE</button>
<h3>z modelu wez ilosc slow / i ilosc nie zapamientanych slow</h3>

<h4>LIST NAMES AND ILOSC SLOW I  ILOSC NIE ZAPAMIETANYCH</h4>
